<article class="nav-container">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" routerLink="">menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="peru">Peru</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="chile">Chile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="uruguay">Uruguay</a>
    </li>
  </ul>
</article>

